body {
    color: #303030;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    text-decoration: none;
}
#links {
    width:200px;
    height:500px;
    float: left;
}
.img_link {
    width:5px;
    height:5px;
}
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: white;
    margin-top: 20px;
}
a {
    text-align:right;
    text-decoration: none;
    color: #303030;
}
.rounded_img {
    border-radius: 5%;
}
