body {
    color: #303030;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    text-decoration: none;
}
#carltons_links {
    width:200px;
    height:500px;
    float: left;
image {
    width:15px;
    height:15px;
}
    
}
footer {
    text-align:center;
    margin-right:200px;
}
header {
    text-align:center;
    font-style: italic;
}
button  {
    font-size: 85%;
}
a {
    text-align:right;
    text-decoration: none;
    color: #303030;
}
